.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
}

* {
  margin: 0;
}

.home,
.about,
.contact {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.home {
  background-image: url(../data/cover-v3.jpeg);
  background-size: cover;
}

.about {
  background-color: beige;
  background-size: cover;
}

.contact {
  background-color: rgb(180, 180, 180);
  background-size: cover;
}

nav {
  background-color: black;
  height: 2.5rem;
  display: flex;
  align-items: flex-start;
  padding-bottom: 1rem;
  position: absolute;
  z-index: 1;
  width: 100%;
  opacity: 0.8;
}

nav a {
  margin: 1rem;
  text-decoration: none;
  color: white;
  padding: 0.2rem;
}

nav a:hover {
  background-color: white;
  color: black;
}

.intro-box {
  color: white;
  border-radius: 1rem;
}

.home>.intro-box {
  background-color: black;
  color: white;
  opacity: 0.6;
  padding: 3rem;
}

.profile-picture {
  height: 20rem;
  margin-top: 7rem;
}

.profile-picture>img {
  content: url(../data/varun_crop.jpg);
  height: 100%;
  border-radius: 1rem;
}

p {
  font-size: x-large;
  background-color: black;
  opacity: 0.7;
  padding: 1rem;
  border-radius: 1rem;
}

.contact {
  justify-content: space-evenly;
}

.map-container>iframe {

  border: 0;
}